.label-header-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.label-header-brand:hover, .label-header-brand:focus {
    text-decoration: none;
}

.label-header-button {
    margin-left: -3px;
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    color: #d3d3d3;
    font-size: 20px;
    text-align: center;
    width: 160px;
    cursor: pointer;
}

.file-select-arrow {
    font-size: 22px;
    color: #121212;
}

#frame-skip {
    float: left;
    width: 100px;
    height: 50px;
}

.label-header-toggle-button {
    font-weight: 200;
    width: 100px;
    cursor: pointer;
}

#label-tool-wrapper {
    position: fixed;
    top: 50px;
    bottom: 0px;
    width: 100%;
    background-color: #353535;
}

.black-input {
    background-color: #353535;
    border-color: #353535;
    border-left: 0px;
    border-top: 0px;
    border-radius: 0px;
    color: #f3f3f3;
    text-align: center;
    outline: none;
    height: 30px;
}

.file-select-input {
    float: right;
    border-radius: 0px;
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    margin-right: 0px;
    margin-left: -3px;
    width: 100px;
    height: 50px;
}

.file-select-left-button {
    float: right;
    outline: none;
    border-style: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    /*border-color: #000;*/
    border: 1px;
    height: 50px;
    width: 100px;
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            from(#707070),
            to(#c5c5c5));
}

.file-select-right-button {
    float: right;
    outline: none;
    border-style: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: -3px;
    /*border-color: #000;*/
    border: 1px;
    height: 50px;
    width: 100px;
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            from(#707070),
            to(#c5c5c5));
}

#jpeg-label-header form input {
    margin-top: 9px;
}

#pcd-label-wrapper {
    display: none;
    position: fixed;
    top: 60px;
    left: 165px;
    right: 10px;
    bottom: 5px;
    width: 100%;
}

#canvas3d {
    /*position: fixed;*/
    /*top: 40px;*/
    /*bottom: 0px;*/
    /*width: 100%;*/
}

#canvas3d canvas {
    /*width: 50% !important;*/
}

.label-tool-overlay {
    display: none;
    overflow: auto;
    position: fixed;
    top: -20px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    /* width: 100%; */
    /* height: 100%; */
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 10;
}

.label-tool-overlay #text {
    font-size: 40px;
    color: #eee;
    padding-top: 400px;
    vertical-align: middle;
    font-weight: bold;
}

#image-cam-front-left {
    /*position: absolute;*/
    /*top: 0px;*/
    /*left: 0px;*/
    /*float: left;*/
    display: inline-block;
    height: 100%;
    z-index: 100;
    background-color: white;
    margin: 0px;
    padding: 0px;
}

#image-cam-front {
    /*position: absolute;*/
    /*top: 0px;*/
    /*left: 320px;*/
    /*float: left;*/
    display: inline-block;
    height: 100%;
    z-index: 100;
    background-color: white;
    margin: 0px;
    padding: 0px;
}

#image-cam-front-right {
    /*float: left;*/
    display: inline-block;
    height: 100%;
    /*position: absolute;*/
    /*left: 639px;*/
}

#image-cam-back-right {
    /*float: left;*/
    display: inline-block;
    height: 100%;
    /*position: absolute;*/
    /*left: 959px;*/
}

#image-cam-back {
    /*float: left;*/
    display: inline-block;
    height: 100%;
    /*position: absolute;*/
    /*left: 1279px;*/
}

#image-cam-back-left {
    /*float: left;*/
    display: inline-block;
    height: 100%;
    width: 318px;

    /*position: absolute;*/
    /*right: 0px;*/
}

.jpeg-label-sidebar {
    box-shadow: 0 1px 1px rgba(1, 0, 0, 0.4);
    background-color: #353535;
    z-index: 1;
    position: absolute;
    width: 150px;
    margin-top: 10px;
    margin-left: 5px;
}

.jpeg-label-sidebar.second {
    top: 425px;
    bottom: 10px;
}

.jpeg-label-sidebar-header {
    box-shadow: 0 1px 1px rgba(1, 0, 0, 0.4);
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            from(#707070),
            to(#959595));
    width: 100%;
    height: 24px;
    color: #222;
    text-align: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

#jpeg-label-sidebar-body {
    padding-bottom: 24px;
    width: 100%;
    overflow: scroll;
    height: 100%;
}

.jpeg-label-sidebar-header-text {
    padding-top: 2px;
    user-select: none;
}

.jpeg-label-sidebar-list {
    padding-left: 0px;
    margin-bottom: 0px;
}

.jpeg-label-sidebar-item {
    cursor: pointer;
    border-bottom: 1px solid #151515;
    box-shadow: 0px 1px 0px #666;
    height: 35px;
    list-style: none;
}

.jpeg-label-sidebar-item.last {
    border-bottom: none !important;
    box-shadow: none !important;
}

.jpeg-label-sidebar-item form input {
    border: none;
    border-left: 10px;
    /* background-color: #0083C7; */
    color: #fafafa;
    font-weight: 200;
    font-size: 18px;
    width: 100px;
}

.jpeg-label-sidebar-item:hover form input {
    background-color: #00C783;
    transition: background;
    transition-duration: 0.4s;
}

#label-header {
    box-shadow: 0 2px 2px rgba(1, 0, 0, 0.4);
    z-index: 10;
    position: fixed;
    background-color: #343434;
    top: 0px;
    height: 50px;
    width: 100%;
}

.label-header-items {
    margin-top: 10px;
    float: right;
}

.label-header-item.left {
    float: left;
!important
}

.label-header-item.left > img {
    height: 100%;
    width: 155px;
}

#label-tool-log {
    position: absolute;
    margin-top: 10px;
    margin-left: 20px;
    width: 557px;
    color: #969696;
    text-align: left;
}

@media (min-width: 1188px) {
    #label-tool-log {
        width: 557px;
    }
}

.label-header-right-items {
    height: 50px;
    float: right;
    /*width: 63%;*/
    padding: 0px;
}

.file-select {
    float: right;
    padding-inline-start: 0px;
}

.label-header-left-items {
    padding-left: 0px;
    height: 50px;
    float: left;
    width: 31%;
}

.label-header-item {
    display: inline-block;
    top: 0px;
    height: 50px;
}

.label-header-column {
    border-right: 1px solid #151515;
    box-shadow: 1px 0px 0px #666;
}

.label-tool-color {
    margin-top: 6px;
    margin-left: 6px;
    width: 20px;
    height: 20px;
    float: left;
    border: inset 1px #888;
    border-radius: 10px;
}

.label-tool-color.red {
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            from(#800),
            to(#f44));
}

.label-tool-color.blue {
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            from(#008),
            to(#44f));
}

.label-tool-color.green {
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            from(#080),
            to(#4f4));
}

.label-tool-color.yellow {
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            from(#880),
            to(#ff4));
}

.label-tool-color.cyan {
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            from(#088),
            to(#4ff));
}

.label-tool-color.white {
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            from(#888),
            to(#fff));
}

.label-tool-color.orange {
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            from(#a80),
            to(#fa4));
}

.label-tool-color.purple {
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            from(#808),
            to(#f4f));
}

.label-tool-sidebar-text {
    padding-top: 5px;
    padding-left: 32px;
    font-weight: 200;
    font-size: 18px;
    background: transparent;
    color: #ddd;
    margin-bottom: 0px;
    user-select: none;
}

.label-tool-sidebar-text.bbox {
    float: left;
    padding-left: 10px !important;
    color: #888;
}

.label-tool-sidebar-text.number {
    float: right !important;
}

.label-tool-sidebar-number-box {
    float: left;
    padding-left: 10px !important;
    width: 30px;
}

.jpeg-label-sidebar-item.plus {
    padding-left: 30px;
    padding-top: 5px;
}

div.dg.main.a {
    padding-top: 60px;
}

::-webkit-scrollbar {
    display: none;
}

text {
    -moz-user-select: none;
    -webkit-user-select: none;
}

#cam_channel {
    color: #969696;
    padding-top: 10%;
    width: 150px;
}

#class-picker {
    left: 10px;
    bottom: 0px;
    padding-bottom: 30px;
    float: none;
    position: fixed;
}

#bounding-box-3d-menu {
    right: 0px;
    bottom: 0px;
    padding-bottom: 30px;
    float: none;
    position: fixed;
}

#layout_layout_resizer_top {
    height: 10px !important;
    display: block !important;
}

#layout_layout_panel_top .w2ui-panel-content {
    white-space: nowrap;
}

.class-tooltip {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin-left: 0px;
    margin-top: 0px;
    padding: 3px;
    width: 95px;
    color: #fff;
    font-size: 12px;
    line-height: 1.2;
    transition: opacity .5s;
}

.toasts {
    position: fixed;
    max-width: 100%;
    width: 250px;
    right: 350px;
    bottom: 0;
    padding: 0 10px;
    box-sizing: border-box;
    transition: height 1s;
    z-index: 100;
}

.toasts li {
    width: 100%;
    list-style-type: none;
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 15px 20px;
    background: #222;
    color: white;
    border-radius: 2px;
    margin: 10px 0;
}

.toasts li.message {
    background: #358;
}

.toasts li.error {
    background: brown;
}

.toasts li.warning {
    background: chocolate;
}

.toasts li.success {
    background: seagreen;
}

#panelSideView {
    position: fixed;
    width: 640px;
    z-index: 102;
    left: 0px;
    top: 290px;
    border: 1px;
    border-style: outset;
}

#panelFrontView {
    position: fixed;
    width: 640px;
    z-index: 102;
    left: 0px;
    top: 600px;
    border: 1px;
    border-style: outset;
}

#panelBev {
    position: fixed;
    width: 640px;
    z-index: 102;
    left: 0px;
    top: 910px;
    border: 1px;
    border-style: outset;
}

