/*variables*/
body {
    --header-height: 50px;
    --image-panel-height: 240px;
}


.file-select-arrow {
    font-size: 22px;
    color: #121212;
}

#frame-skip {
    float: left;
    width: 100px;
    height: 50px;
}


#label-tool-wrapper {
    position: fixed;
    top: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #353535;
}

.black-input {
    background-color: #353535;
    border-color: #353535;
    border-left: 0px;
    border-top: 0px;
    border-radius: 0px;
    color: #f3f3f3;
    text-align: center;
    outline: none;
    height: 30px;
}

.file-select-input {
    float: right;
    border-radius: 0px;
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    margin-right: 0px;
    margin-left: -3px;
    width: 100px;
    height: 50px;
}

#left-btn {
    position: absolute;
    left: 0px;
    top: 50%;
    cursor: -webkit-grabbing;
}

#right-btn {
    position: absolute;
    right: 495px;
    top: 50%;
    cursor: -webkit-grabbing;
}

#pcd-label-wrapper {
    display: none;
    position: fixed;
    top: 60px;
    left: 165px;
    right: 10px;
    bottom: 5px;
    width: 100%;
}

#canvas3d canvas {
    cursor: crosshair;
}


#label-tool-log {
    position: absolute;
    margin-top: 10px;
    margin-left: 20px;
    width: 557px;
    color: #969696;
    text-align: left;
}

@media (min-width: 1188px) {
    #label-tool-log {
        width: 557px;
    }
}


.file-select {
    float: right;
    padding-inline-start: 0px;
}

div.dg.main.a {
    padding-top: 60px;
}

::-webkit-scrollbar {
    display: none;
}

text {
    -moz-user-select: none;
    -webkit-user-select: none;
}

#cam_channel {
    color: #969696;
    padding-top: 10%;
    width: 150px;
}

#class-picker {
    left: 10px;
    bottom: 20px;
    padding-bottom: 30px;
    float: none;
    position: fixed;
}

#bounding-box-3d-menu {
    position: fixed;
    float: none;
    right: 0px;
    top: 290px;
    width: 480px !important;
}

#layout_layout_resizer_top {
    height: 10px !important;
    display: block !important;
}

#layout_layout_panel_top .w2ui-panel-content {
    white-space: nowrap;
}

#bounding-box-3d-menu .close-button {
    position: fixed !important;
    width: 480px !important;
}

.class-tooltip {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin-left: 0px;
    margin-top: 0px;
    padding: 3px;
    width: 20px;
    color: #fff;
    font-size: 12px;
    line-height: 1.2;
    transition: opacity .5s;
    opacity: 0.5;
}

.toasts {
    position: fixed;
    max-width: 100%;
    width: 250px;
    right: 480px;
    bottom: 0;
    padding: 0 10px;
    box-sizing: border-box;
    transition: height 1s;
    z-index: 100;
}

.toasts li {
    width: 100%;
    list-style-type: none;
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 15px 20px;
    background: #222;
    color: white;
    border-radius: 2px;
    margin: 10px 0;
}

.toasts li.message {
    background: #358;
}

.toasts li.error {
    background: brown;
}

.toasts li.warning {
    background: chocolate;
}

.toasts li.success {
    background: seagreen;
}

#canvasSideView {
    position: fixed;
    width: 33.33vw;
    /*height: 311px;*/
    z-index: 102;
    left: 0px;
    /*top: 290px;*/
    border: 1px;
    border-style: outset;
}

#canvasFrontView {
    position: fixed;
    width: 33.33vw;
    /*height: 311px;*/
    z-index: 102;
    left: 0px;
    /*top: 600px;*/
    border: 1px;
    border-style: outset;
}

#canvasBev {
    position: fixed;
    width: 33.33vw;
    /*height: 311px;*/
    z-index: 102;
    left: 0px;
    /*top: 910px;*/
    border: 1px;
    border-style: outset;
}

.Resizer {
    background: #000;
    opacity: .2;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

.Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

.Resizer.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}

.Resizer.horizontal:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
}

.Resizer.vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.disabled {
    cursor: not-allowed;
}

.Resizer.disabled:hover {
    border-color: transparent;
}

#time-elapsed {
    position: absolute;
    right: 50%;
    bottom: 30px;
    color: #969696;
}

#image-s110-camera-basler-south2-8mm, #image-s110-camera-basler-south1-8mm, #image-s110-camera-basler-north-8mm, #image-s110-camera-basler-east-8mm, #image-vehicle-camera-basler-16mm{
    position: absolute;
    top: 0px;
}

/*TODO: Fix tooltip position*/
.class-tooltip{
    display: none !important;
}
